extends layout

block content
  .container
    h1.head-font.text-center.mb-5 Write a new passage
    form(action='/book/' + book.id + '/addPassage', method='post')
      .form-group
        textarea#inputPassageBody.form-control(rows='3', name='inputPassageBody')
      .text-right
        button.btn.btn-success(type='submit') Submit
          |
          |
          i.fas.fa-pencil-alt
    if passage
      .card.mt-3
        .card-body
          h5.mb-3.text-muted Previous page by #{passage.authorId.name}
          p!= passage.body