extends layout

block content
  form(action='/create-book', method='post')
    .row
      .eight.columns
        label(for='titleInput') Book title
        input#titleInput.u-full-width(type='text', required=true, name='titleInput')
        label(for='introductionInput') Introduction
        em You can write an introduction here if you so choose. You can always edit this later, so feel free to leave this blank for now.
        textarea#introductionInput.u-full-width(name='introductionInput')
        label(for='collaboratorInput') Collaborator Email
        input#collaboratorInput.u-full-width(type='text', name='collaboratorInput')
        button.button-primary(type='submit') Create book