extends layout

block content
  .container
    .row.justify-content-center
      .col-sm-12.col-md-10.col-lg-6
        h1.head-font.text-center.text-sm-left Create Book
        hr
        p Collaborator:
          |
          |
          strong= collaborator.name
        hr
        form(action='/create-book', method='post')
          input(type='hidden', value=`${collaborator.id}`, name='collaboratorId')
          .form-group
            label(for='inputTitle') Book title
            input#inputTitle.form-control(type='text', placeholder='Enter book title', required=true, name='inputTitle')
          .form-group
            label(for='inputIntroduction') Book introduction
            textarea#inputIntroduction.form-control(rows='3', name='inputIntroduction')
            small.form-text.text-muted You can write an introduction here if you so choose. You can always edit this later so feel free to leave this blank for now.
          hr
          .text-right
            button.btn.btn-warning(type='submit') Submit
              | &nbsp;&nbsp;
              i.fas.fa-caret-right