extends layout

block content
  .container
    .row.justify-content-center
      .col-sm-12.col-md-10.col-lg-6
        h1.head-font Create Book
        form(action='/create-book', method='post')
          .form-group
            label(for='inputTitle') Book Title
            input#inputTitle.form-control(type='text', placeholder='Enter book title', required=true, name='inputTitle')
          .form-group
            label(for='inputCollaborator') Collaborator email
            input#inputCollaborator.form-control(type='email', placeholder='Enter collaborator email', required=true, name='inputCollaborator')
          .form-group
            label(for='inputIntroduction') Book introduction
            textarea#inputIntroduction.form-control(rows='3', name='inputIntroduction')
            small.form-text.text-muted You can write an introduction here if you so choose. You can always edit this later so feel free to leave this blank for now.
          hr
          .text-right
            button.btn.btn-warning(type='submit') Submit
              | &nbsp;&nbsp;
              i.fas.fa-caret-right