extends layout

block content
  .container
    .row
      .col
        h5 People you are following
        .card
          .card-body
            .table-responsive.table-borderless
              table.table.table-sm
                thead
                  tr
                    th(scope='col') Name
                    th(scope='col') Followers
                tbody
                  each user in followedUsers
                    tr
                      th(scope='row')
                        a(href='/user/' + user.id)= user.name
                      td= user.followers.length