extends layout

block content
  .container
    .table-responsive
      table.table.table-sm
        thead.thead-light
          tr
            th(scope='col') Name
            th(scope='col') Followers
            th(scope='col')
            th(scope='col')
        tbody
          each user in followedUsers
            tr
              th(scope='row')
                a(href='/user/' + user.id)= user.name
              td= user.followers.length
              td Otto
              td @mdo