extends layout

block content
  .container.text-center
    p Bacon ipsum dolor amet burgdoggen t-bone alcatra picanha. Andouille sirloin brisket, pork chop pastrami landjaeger pork belly sausage boudin frankfurter alcatra tongue pancetta bacon. Ham hock chicken shoulder brisket. Jowl tongue strip steak, brisket rump frankfurter biltong ham fatback shankle. Alcatra pork shankle pancetta, porchetta kevin sausage biltong ham hock meatloaf chuck doner t-bone salami turducken.
    p Pork ground round turducken leberkas. Picanha ham spare ribs tail turkey ball tip capicola corned beef pork belly pork, pig kielbasa landjaeger biltong. Picanha meatball short ribs sausage bresaola tail shoulder prosciutto. Filet mignon tail shoulder shankle short ribs leberkas, cupim beef venison sirloin ground round turducken. Landjaeger ground round ham, capicola doner shankle turducken drumstick bacon. Kevin venison sirloin, shankle bresaola filet mignon alcatra ham hock pork loin. Ham beef ribs corned beef ball tip prosciutto biltong hamburger shoulder.