.container.mb-3
  header.blog-header.py-3
    .row.justify-content-between.align-items-center
      .col-md-6.text-center.text-md-left
        i#navbar-logo.fas.fa-book-open
        a.blog-header-logo.text-dark(href='/')= h.title
      .col-md-6.text-center.d-flex.justify-content-center.align-items-center.justify-content-md-end.align-content-md-endspot.mt-3.mt-md-0
        if user
          if currentUrl === '/'
            a.mr-2.active-navbar-text(href='/') Dasboard
          else
            a.mr-2.inactive-navbar-text(href='/') Dasboard
          span.text-muted |
          if currentUrl === '/user/' + user.id
            a.mx-2.active-navbar-text(href='/user/' + user.id) Profile
          else
            a.mx-2.inactive-navbar-text(href='/user/' + user.id) Profile
          span.text-muted |
          if currentUrl === '/followed-users'
            a.mx-2.active-navbar-text(href='/followed-users') People
          else
            a.mx-2.inactive-navbar-text(href='/followed-users') People
          span.text-muted |
          a.ml-2#logout-navbar-link.mr-1(href='/logout') Log out
        else
          .ml-sm-auto
            if currentUrl === '/register'
              a.mx-2.active-navbar-text(href='/register') Register
            else
              a.mx-2.inactive-navbar-text(href='/register') Register
            span.text-muted |
            if currentUrl === '/login'
              a.mx-2.active-navbar-text(href='/login') Log in
            else
              a.mx-2.inactive-navbar-text(href='/login') Log in