extends layout

block content
  form(action='/register', method='post')
    .row
      .five.columns
        label(for='nameInput') Name or Pseudonym
        input#nameInput.u-full-width(type='text', placeholder='', required=true, name='nameInput')
        label(for='emailInput') Email address
        input#emailInput.u-full-width(type='email', required=true, name='emailInput')
        p
          em An email will be sent to this address for confirmation.
        label(for='passwordInput') Password
          input#passwordInput.u-full-width(type='password', required=true, name='passwordInput')
        label(for='passwordConfInput') Re-enter your password
          input#passwordConfInput.u-full-width(type='password', required=true, name='passwordConfInput')
        button.button-primary(type='submit') Register