.col-3
  ul
    if user
      li
        a(href='/logout') Logout
    else
      li
        a(href='/login') Login
      li
        a(href='/register') Register
  ul
    if user
      li
        a(href='/create-book') Create book