extends layout

block content
  .container
    .jumbotron.text-center.bg-light
      p.lead Welcome to Collabook, a platform where you can collaborate with someone in writing a book.
      p Take turns in writing and let your combined imagination be the wind in your sails towards the unknown.
      hr.my-4
      p Register an account or login to an existing account to start creating a book.