extends layout

block content
  .container
    if passage
      .card.mb-2
        .card-body
          h6.card-subtitle.mb-2.text-muted Previous page, written by #{passage.authorId.name}
          p= passage.body
    form(action='/book/' + book.id + '/addPassage', method='post')
      .form-group
        label(for='inputPassageBody') Write Passage here
        textarea#inputPassageBody.form-control(rows='3', name='inputPassageBody')
      button.btn.btn-primary(type='submit') Submit